.footer
  background-color: lighten($dark-moderate-cyan, 15%)
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  height: 40vh
  padding: 4rem 2rem

  &__nav
    display: flex

    &-item
      margin: 0 2rem

      &-link
        color: lighten($dark-desaturated-cyan, 10%)
        font-family: "Barlow"

  &__socialmedia
    &-icon
      margin: 0 1rem

  &__logo
    fill: $dark-moderate-cyan