*
  margin: 0
  padding: 0
  box-sizing: border-box

*:focus
  outline: none

html
  font-size: 62.5%
  scroll-behavior: smooth

body
  font-size: 1.8rem

a
  text-decoration: none

li
  list-style: none

.visible
  position: fixed
  top: 10rem
  display: flex!important
  flex-direction: column
  justify-content: center
  align-items: center
  left: 50%
  transform: translateX(-50%)
  padding: 2.5rem
  width: 89%
  margin: 0 auto
  background-color: $white
  z-index: 1000
  animation: fadeInUp .5s ease-in-out forwards

  &-item
    margin: 1.8rem 0

  &::before
    content: ""
    width: 25px
    height: 25px
    background-color: $white
    position: absolute
    top: 1px
    right: -.5px
    transform-origin: bottom
    transform: translateY(-100%)
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

.sticky
  width: 100%
  position: fixed
  top: 0
  left: 0
  padding: 2.5rem
  background-color: $dark-blue
  z-index: 1000
  animation: slideInDown .5s ease-in-out forwards